{% extends "base.html" %}

{% block title %}
Get started · Kernel DataFrame
{% endblock %}

{% block content %}

<section class="hero">
  <h1>Get started</h1>
  <p>
    A visual map of common intentions when discovering Kernel DataFrame.
    Some stops give quicker rewards than others.
  </p>
</section>

<section>

  <section class="container">

  {% for item in items %}

    <div class="card-grid">


        <a
		href="/docs/function_doc/{{ item.function_impl.id }}"
        >

            <div class="doc-card card-variant-{{ loop.index0 % 4 + 1 }}">

              <h3>
                {{ item.function_impl.real_name }}
              </h3>

              <p>
                {{ item.goal }}
              </p>

            </div>
        </a>

    </div>


  {% endfor %}

  </section>

</section>

{% endblock %}



