{% extends "base.html" %}

{% block title %}
Dev
{% endblock %}

{% block content %}

        <!-- Hero -->
        <section class="hero">
            <h1>Dev.</h1>
        </section>

        <!-- Card Grid -->
        <section class="container">
            <div class="card-grid">

                {% for article in articles %}

                    {% set variant = (loop.index0 % 4) + 1 %}

                    <a href="{{ url_for('dev.article', 
                                        cur_id=article.id) }}">
                        <div class="doc-card card-variant-{{ variant }}">
                            <h3>{{ article.title }}</h3>
                            <p>
                              {{ article.description_html
                                 | striptags
                                 | truncate(220, False, '…') }}
                            </p>
                            <span class="article-more">Read →</span>

                        </div>
                    </a>

                {% endfor %}

            </div>
        </section>

        <br>

{% endblock %}





