<!doctype html>
<html lang="en">
    <head>

        <script>
          (function () {
            const theme = localStorage.getItem("theme");
            if (theme) {
              document.documentElement.dataset.theme = theme;
            }
          })();
        </script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}YourEngine — A dataframe engine built for control{% endblock %}</title>
        
        <meta
            name="description"
            content="A dataframe engine designed around explicit execution costs, predictability, and control."
        />

        <link rel="stylesheet" href="/static/css/critical_style.css"> 
        <link rel="preload" href="/static/css/style.css" as="style" onload="this.rel='stylesheet'"> 
        <noscript> 
            <link rel="stylesheet" href="/static/css/style.css"> 
        </noscript>

        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

    </head>

    <body>
        <!-- =========================
       Top Navigation
       ========================= -->
        <header class="topbar">
            <div class="topbar-inner">
                <div class="logo">
                    <a href="/">
                        <img
                            src="/static/logo_lightmode.svg"
                            alt="Engine logo"
                            style="vertical-align: middle; margin-right: 0.5em"
                            class="logo-img"
                            height="32"
                            width="32"
                            loading="eager"
                            decoding="async"
                        />
                        <span>VisonDF</span>
                    </a>
                </div>

                <nav>
                    <a href="/docs">Docs</a>
                    <a href="https://github.com/visonDF/visonDF">GitHub</a>
                    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode">
                      ☾
                    </button>
                </nav>
            </div>
        </header>

        <main id="page-content">
        {% block content %} {% endblock %}
        </main>

        <script defer src="/static/js/main.js"></script>
        <script defer src="/static/prism/prism.min.js"></script>
        <script defer src="/static/prism/components/prism-clike.min.js"></script>
        <script defer src="/static/prism/components/prism-c.min.js"></script>
        <script defer src="/static/prism/components/prism-cpp.min.js"></script>
        <script defer>
          window.addEventListener("DOMContentLoaded", () => {
             if (window.Prism) Prism.highlightAll();
           });
        </script>

<footer class="site-footer">
  <span class="architecture-note">
    Statically served. Dynamically authored.
  </span>
</footer>

    </body>
</html>




